* {
    box-sizing: border-box;
}

input[type=text], select,input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    font-family: "Century Gothic", serif;
    text-decoration-color: #a9a9a9;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    float: left;
    transition-duration: 0.4s;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    opacity: 0.80;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.bodycfg{
    background-image: url('https://wallpaperaccess.com/full/3872532.jpg');
}

.parastyle, .title {
    text-align: center;
    font-family: "Century Gothic", serif;
    font-weight: bold;
    text-shadow: 0 0 2px darkgrey;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

a {
    background-color: black;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

a:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}
